h1{
	text-align: center;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
}

h2{
	color: darkblue;
	font-size: 30px;
	text-transform: uppercase;
}

header{
	background-color: darkgray;
}

main{
	background-color: gray;
}

img{
	height: 300px;
	width: 420px;
}